// 
// Dark Theme
// 

//                                                   //
//-------------Basic settings-----------------------//
//                                                 //
$primary_color: #1d2127 !default;
$link-color: #4dd0e1!default;
$text-color: #ffffff !default;

//                                                     //
//-------------Advance settings-----------------------//
//                                                   //
// 
// Header
// 
$header-link-color: darken($text-color, 40%) !default;
$site-header-bg: darken($primary_color, 5%) !default;

// 
// Site Home Banner
// 
$header-bg-color: $link-color !default;
$home-header-title-color: darken($primary_color, 3%) !default;

// 
// Site Nav
// 
$menu-bdr-color: darken($primary_color, 6%) !default;
$menu-color: $text-color !default;
$menu-bg-color-chae: darken($primary_color, 6%) !default;

// 
// Site Footer
// 
$footer-bg-color: darken($primary_color, 2%) !default;
$footer-head-link-color: darken($text-color, 50%) !default;
$footer-links-color: darken($text-color, 10%) !default;
$footer-links-hover-color: darken($footer-links-color, 30%) !default;

// 
// Site Scroll
// 
$scroll_bar_bg_color: darken($text-color, 10%) !default;

// 
// Error Pages
// 
$error-div-bg-color: darken($primary_color, 2%) !default;
$error-btn-svg-color: $primary_color !default;
$error-btn-bg-color: $primary_color !default;
$error-btn-hover-color: darken($error-btn-bg-color, 7%) !default;

// 
// Page bar
// 
$page-bar-top-bar-color: darken($primary_color, 5%) !default;
$page-bar-btn-bg-color: darken($primary_color, 2%) !default;
$page-bar-svg-color: $text-color !default;
$page-bar-btn-hover-color: darken($page-bar-btn-bg-color, 5%) !default;
$page-bar-svg-hover-color: darken($page-bar-svg-color, 30%) !default;
$page-bar-btn-disabled: lighten($page-bar-btn-bg-color, 5%) !default;

// 
// Button
// 
// $btn-bg-color:           #525252 !default;
// $btn-color-hover:        #353535 !default;
$btn-bg-color: lighten($primary_color, 8%) !default;
$btn-color-hover: darken($btn-bg-color, 5%) !default;
$btn-text-hover-color: darken($text-color, 50%) !default;

// 
// Highlight
// 
$highlight-bg-color: darken($link-color, 20%) !default;
$highlight-text-color: darken($text-color, 100%) !default;

// 
// Prompt Tip
// 
$prompt-tip-bg-color: #5a8034 !default;

// 
//  Prompt Info
// 
$prompt-info-bg-color: #1a61b3 !default;

// 
//  Prompt Warning
// 
$prompt-warning-bg-color: #b3761a !default;

// 
// Prompt Danger
// 
$prompt-danger-bg-color: #b31a1a !default;

// 
// Code
// 
$code-background-color: darken($primary_color, 3%) !default;
$code-text-color: #4dd0e1 !default;
$blockquote-text-color: darken($text-color, 30%) !default;

// 
// links
// 
$link-visited-color: $link-color !default;
$link-hover-color: darken($link-color, 33%) !default;

// 
// Table
// 
$table-text-color: $text-color !default;
$table-zebra-color: darken($primary_color, 2%) !default;
$table-header-bg-color: darken($primary_color, 3%) !default;

$Github: #f0f6fc !default;

$border-color: lighten($primary_color, 3%) !default;

// 
// Back to Top
// 
$BTT-bg-color: $code-text-color !default;
$BTT-svg-color: darken($text-color, 100%) !default;

// 
// BOLD
// 
$Bold-color: #88ffff !default;

@import "themes/dark theme/highlight"