html {
  font-size: $font-size;
  overflow-x: hidden;

  ::selection {
    background-color: $highlight-bg-color;
    color: $highlight-text-color;
  }
}

// 
// Basic
// 
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  border: 0;
  border-top: 2px solid $footer-head-link-color;
  border-radius: 7px;
}

body {
  font: $text-font-weight #{$font-size}/#{$line-height} $text-font-family;
  color: $text-color;
  background-color: $primary_color;
  -webkit-text-size-adjust: 100%;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;

  &::-webkit-scrollbar {
    width: 7px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: $primary_color;
  }

  &::-webkit-scrollbar-thumb {
    background: $scroll_bar_bg_color;
    border-radius: 4px;
  }
}

//
//  `main` element
// 
main {
  overflow-y: hidden;
  display: block;
  opacity: 0;
  transform: translateY(3rem);
  animation: 208.898ms linear 0s 1 normal forwards running slide-up;
  animation-delay: 252.00568990042672ms;
}

// 
// Headings
// 
h1 {
  font-weight: $h1_fnt-wght;
  font-size: $h1_fnt-sze;
}

h2 {
  font-weight: 650;
  @include relative-font-size(1.75);

  @media screen and (min-width: $pc-width) {
    @include relative-font-size(2);
  }
}

h3 {
  font-weight: 600;
  font-size: 2.2rem;

  @include relative-font-size(1.375);

  @media screen and (min-width: $pc-width) {
    @include relative-font-size(1.625);
  }
}

h4 {
  font-weight: 550;
  @include relative-font-size(1.25);
}

h5 {
  font-family: 500;
  @include relative-font-size(1.125);
}

h6 {
  font-family: 450;
  @include relative-font-size(1.0625);
}


// 
// Lists
// 
ul,
ol {
  margin-left: $spacing-unit;
}

// 
// Links
// 
a {
  text-decoration: none;
  transition: $transition-links;
  color: $link-visited-color;
  font-weight: 700;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}


li {

  >ul,
  >ol {
    margin-bottom: 0;
  }
}

// 
// Image
// 
img {
  max-width: 100%;
  height: auto;
}

// 
// BOLD 
// 
strong {
  color: $Bold-color;
}

// 
// Figures
// 
figure>img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

// 
//  Blockquotes
// 
blockquote {
  color: $blockquote-text-color;
  border-left: 4px solid $code-background-color;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  i,
  em {
    font-style: normal;
  }
}

// 
//  Code format
// 
pre,
code {
  font-size: 0.95rem;
  border: 1px solid $code-background-color;
  border-radius: 4px;
  font-weight: 700;
  background-color: $code-background-color;
  color: $code-text-color;

  @include horizontal-scroll();
}

code {
  padding: 1px 5px;

  a {
    color: inherit !important;
    border-bottom: none !important;
    pointer-events: none;
  }
}

pre {
  overflow-x: auto;

  >code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.rouge-table {
  width: 0%;

  .rouge-gutter {
    padding: 0px;
    border: 0px;
  }

  td.rouge-code {
    padding-left: 1rem;
    border: 0px;
  }

  border: 0px;
  margin-bottom: 0px;
}

.highlight {
  border-radius: 5px;
  background: $code-background-color;
  border: 0px;
  @extend %vertical-rhythm;

  pre {
    margin-bottom: 0;
    font-size: $code-font-family;
    line-height: 1.5rem;
    word-wrap: normal;
    /* Fixed Safari overflow-x */
  }

  .lineno {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 0px;
    width: 1%;

    min-width: 20px;
    text-align: right;
    color: $footer-head-link-color;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  //  set the dollar sign to non-selectable 
  .gp {
    user-select: none;
  }

  table {
    td pre {
      overflow: visible; // Fixed iOS safari overflow-x 
      word-break: normal; // Fixed iOS safari linenos code break
    }
  }

  .highlighter-rouge & {
    background: $code-background-color;
  }

}

// Removes the line numbers default snippets
div {

  &[class^='highlighter-rouge'],
  &.language-plaintext.highlighter-rouge,
  &.language-console.highlighter-rouge,
  &.language-terminal.highlighter-rouge,
  &.nolineno {
    pre.lineno {
      display: none;
    }

    td.rouge-code {
      padding: 8px 12px;
    }

    pre.highlight {
      padding: 0px;
      padding-bottom: 0px;
    }
  }
}

// 
// Tooltip
// 
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 105px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.90rem;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

// 
// Wrappers
// 
.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;

  @media screen and (min-width: $pc-width) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

.wrapper_header {
  padding-left: 20px;
  padding-right: auto;

  @media screen and (min-width: $mobile-width) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media screen and (min-width: $pc-width) {
    padding-right: 70px;
    padding-left: 70px;
  }
}

// 
//  Icons
// 

// .stackoverflow {
//   color: #f66a0a;
// }

// .youtube {
//   color: #dd0505;
// }

// .github {
//   color: $Github;

// }

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}

.gitlab {
  color: $Github;
}

// 
//  Tables
// 
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: $table-text-color;
  border-collapse: collapse;

  @include horizontal-scroll();

  tr {
    &:nth-child(even) {
      background-color: $table-zebra-color;
    }
  }

  th {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
    border-bottom: 3px solid $text-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  th {
    background-color: $table-header-bg-color;
  }
}

dl {
  padding: 0;

  dt {
    padding: 0;
    margin-top: 1rem;
    font-size: $font-size;
    font-weight: 690;
  }

  dd {
    margin-inline-start: 40px;
  }
}

// 
// Error page
// 
.container {
  margin: 10px auto;
  max-width: 400px;
  text-align: center;
  background-color: $error-div-bg-color;
  border-radius: 20px;
  align-content: center;
  height: 500px;

  >svg {
    height: 220px;
    width: 220px;
    margin-left: 3px;
    margin-right: 5px;
    margin-top: 50px;
    fill: $error-btn-svg-color;
  }

  >h1 {
    font-weight: bolder;
  }
}

.error-pagh {
  >p {
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 15px;
    }
  }
}

.btn-error {
  padding: 8px 25px;
  border-radius: 5px;
  cursor: pointer;
  color: $text-color;
  background-color: $error-btn-bg-color;
  border-color: $btn-bg-color;
  transition: $transition-btn;
  border-top: 10px;

  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $btn-text-hover-color;
    text-decoration: none;
    background-color: $error-btn-hover-color;
    border-color: $error-btn-hover-color;
  }
}

// 
// Prompts
// 
.prompt-tip {
  @include prompt("tips_and_updates", $prompt-tip-icon-color, $prompt-tip-bg-color, "Material Icons Outlined");
}

.prompt-info {
  @include prompt("info", $prompt-info-icon-color, $prompt-info-bg-color, "Material Icons Outlined");
}

.prompt-warning {
  @include prompt("warning", $prompt-warning-icon-color, $prompt-warning-bg-color, "Material Icons Round");
}

.prompt-danger {
  @include prompt("dangerous", $prompt-danger-icon-color, $prompt-danger-bg-color, "Material Icons Round");
}